*{
    box-sizing: border-box;
    font-family: 'Balsamin Sans';
}
body{
    
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    background: rgb(132, 21, 21);
    color: #fff;
    padding: 10px 0;
}
.container{
    max-width: 750px;
    margin: auto;
    padding: 20px;
    
    background-size: cover;
    background-attachment: fixed;
}

section{
    border: 2px solid #ee2630;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}

label:hover{
    background: #cec0fc;
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px ;
}

button:hover{
    background: #000;
    color: #fff;
}

h2{
    text-align: center;
}

.BOTON{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px ;
}

.BOTON:hover{
    background: #000;
    color: #fff;
}

a{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px ;
    text-align: center;
}

a:hover{
    background: #000;
    color: #fff;
}